---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: test-workload
  name: test-workload
spec:
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: test-workload
  type: ClusterIP
status:
  loadBalancer: {}
