name: Release Helm Chart

on:
  push:
    tags:
      - 'v*'        # v0.1.0, v1.2.3, etc.

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Helm
        uses: azure/setup-helm@v4

      - name: Package chart
        run: |
          cd test-workload
          helm dependency update || true
          helm package . --destination ../dist

      - name: Checkout gh-pages
        uses: actions/checkout@v4
        with:
          ref: gh-pages
          path: gh-pages

      - name: Update Helm repo index
        run: |
          cp dist/*.tgz gh-pages/
          helm repo index gh-pages \
            --url https://tomwis97.github.io/test-workload

      - name: Commit and push
        run: |
          cd gh-pages
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          git commit -m "Release chart $GITHUB_REF" || exit 0
          git push

